.form {
  width: 400px;
  margin: 10px auto;
  padding: 20px 50px 30px 30px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group label .required {
  color: red;
  margin-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
}

.input-box{
  display: flex;
  height: 30px;
  align-items: center;
}

.next-button {
  padding: 12px 20px;
  background-color: #860a0ae3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #e4716d80;
  color: #860a0ae3;
  border: 1px solid #860a0ae3;
}


.add-button {
  padding: 12px 20px;
  background-color: #d1c410e3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #dfd7636c;
  color: #d3c507;
  border: 1px solid #d3c507;
}

.remove-button {
  padding: 12px 20px;
  background-color: #d11010d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #ec6d6d4f;
  color: #d11010d2;
  border: 1px solid #d11010d2;
}